.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rows{
  margin-top: 70px;
}

.form-group {
  margin-bottom: 10px;
}

.buttons button {
  margin: 10px;
  padding: 5px;
  width: 100px;
}

h2 {
  margin-bottom: 20px;
}


.App {
  text-align: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.modal_form {
  /* text-align: center; */
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.select.service.form-control.modal_form {
  width: 90% !important;
}